/* App-wide CSS variables for universal background & text */
:root {
  --app-bg: radial-gradient(rgb(43, 43, 70), #000);
  --app-text: #ffffff;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}